Repository jacoco/jacoco, pull requests merged in 2018-07, with the labels that each got.

#706 Upgrade ASM to 6.2
  jacoco/pom.xml
  org.jacoco.build/pom.xml
  org.jacoco.core.test/src-java8/org/jacoco/core/test/validation/BootstrapMethodReferenceTest.java
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/DuplicateFrameEliminatorTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/ResizeInstructionsTest.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#652 Cleanup internal XML generation framework
  org.jacoco.cli/src/org/jacoco/cli/internal/XmlDocumentation.java
  org.jacoco.report.test/src/org/jacoco/report/ReportStructureTestDriver.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/HTMLDocumentTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/HTMLElementTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/page/SourceHighlighterTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/table/BarColumnTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/table/CounterColumnTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/table/LabelColumnTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/table/PercentageColumnTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/table/TableTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/xml/XMLDocumentTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/xml/XMLElementTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/xml/XMLGroupVisitorTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/xml/XMLSupport.java
  org.jacoco.report.test/src/org/jacoco/report/xml/XMLFormatterTest.java
  org.jacoco.report/src/org/jacoco/report/internal/html/HTMLDocument.java
  org.jacoco.report/src/org/jacoco/report/internal/html/HTMLElement.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/ReportPage.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/SourceFilePage.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/TablePage.java
  org.jacoco.report/src/org/jacoco/report/internal/html/table/BarColumn.java
  org.jacoco.report/src/org/jacoco/report/internal/xml/ReportElement.java
  org.jacoco.report/src/org/jacoco/report/internal/xml/XMLCoverageWriter.java
  org.jacoco.report/src/org/jacoco/report/internal/xml/XMLDocument.java
  org.jacoco.report/src/org/jacoco/report/internal/xml/XMLElement.java
  org.jacoco.report/src/org/jacoco/report/internal/xml/XMLGroupVisitor.java
  org.jacoco.report/src/org/jacoco/report/xml/XMLFormatter.java
Labels: component: report, type: enhancement

#708 Remove unused constants in XMLFormatter
  org.jacoco.report/src/org/jacoco/report/xml/XMLFormatter.java
Labels: component: report

#707 Add filter for Kotlin lateinit properties
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinLateinitFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AbstractMatcher.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinLateinitFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#714 Validation tests should use source filename from coverage results
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/filter/FinallyTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/Source.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/SourceTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/ValidationTestBase.java
Labels: component: test, type: enhancement
