Repository jacoco/jacoco, pull requests merged in 2018-10, with the labels that each got.

#740 Use ASM also for Java 10
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/FinallyTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/FramesTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/StructuredLockingTest.java
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/ClassFileVersionsTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/InstrumenterTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/ResizeInstructionsTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/BytecodeVersionTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/data/CRC64Test.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core.test/src/org/jacoco/core/runtime/ModifiedSystemClassRuntimeTest.java
  org.jacoco.core/src/org/jacoco/core/analysis/Analyzer.java
  org.jacoco.core/src/org/jacoco/core/instr/Instrumenter.java
  org.jacoco.core/src/org/jacoco/core/internal/BytecodeVersion.java
  org.jacoco.core/src/org/jacoco/core/internal/ContentTypeDetector.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/ProbeArrayStrategyFactory.java
  org.jacoco.core/src/org/jacoco/core/runtime/ModifiedSystemClassRuntime.java
Labels: component: core, type: enhancement

#761 Add filter for Kotlin "unsafe" cast operator
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinUnsafeCastOperatorTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinUnsafeCastOperatorTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinUnsafeCastOperatorFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinUnsafeCastOperatorFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#762 Add new Jenkins plugin to list of third-party integrations
  org.jacoco.doc/docroot/doc/integrations.html
Labels: component: documentation, type: enhancement

#778 Update FAQ
  org.jacoco.doc/docroot/doc/faq.html
Labels: component: documentation, type: enhancement

#760 Upgrade ASM to 7.0 for official support of Java 11
  .travis.sh
  .travis.yml
  org.jacoco.build/pom.xml
  org.jacoco.core/src/org/jacoco/core/internal/ContentTypeDetector.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.doc/docroot/doc/faq.html
Labels: component: core
