Repository jacoco/jacoco, pull requests merged in 2018-06, with the labels that each got.

#682 CLI tests should not depend on current locale
  org.jacoco.cli.test/src/org/jacoco/cli/internal/MainTest.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/ClassInfoTest.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/DumpTest.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/ExecInfoTest.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/InstrumentTest.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/MergeTest.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/ReportTest.java
Labels: component: cli, component: test

#691 Remove partial localization of CLI
  org.jacoco.cli/pom.xml
Labels: component: cli

#694 Re-enable SonarQube analysis and fix link on its results
  .travis.sh
  org.jacoco.doc/docroot/doc/environment.html
Labels: component: build, component: documentation, type: bug

#703 Improve error message when working on instrumented classes
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#702 Add new attribute "sourcefilename" to "class" element in XML report
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.report.test/src/org/jacoco/report/internal/xml/XMLGroupVisitorTest.java
  org.jacoco.report.test/src/org/jacoco/report/xml/XMLFormatterTest.java
  org.jacoco.report/src/org/jacoco/report/internal/xml/XMLCoverageWriter.java
  org.jacoco.report/src/org/jacoco/report/xml/XMLFormatter.java
  org.jacoco.report/src/org/jacoco/report/xml/report.dtd
Labels: component: report, type: enhancement
