Repository jacoco/jacoco, pull requests merged in 2018-11, with the labels that each got.

#733 Initial groovy validation setup
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation.groovy/pom.xml
  org.jacoco.core.test.validation.groovy/src/org/jacoco/core/test/validation/groovy/GroovyDataClassTest.java
  org.jacoco.core.test.validation.groovy/src/org/jacoco/core/test/validation/groovy/targets/GroovyDataClassTarget.groovy
  org.jacoco.core.test.validation/pom.xml
  org.jacoco.doc/docroot/doc/build.html
Labels: component: core.filters, component: test

#744 Refactor Analysis Package
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/InstructionTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/InstructionsBuilderTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/MethodAnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/MethodCoverageCalculatorTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/flow/InstructionTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/flow/LabelInfoTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/ClassAnalyzer.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/Instruction.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/InstructionsBuilder.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/MethodAnalyzer.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/MethodCoverageCalculator.java
  org.jacoco.core/src/org/jacoco/core/internal/flow/Instruction.java
  org.jacoco.core/src/org/jacoco/core/internal/flow/LabelInfo.java
Labels: component: core, component: core.filters, type: enhancement

#789 Add test: computation of lines range should respect ignored instructions
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/MethodCoverageCalculatorTest.java
Labels: component: core, component: core.filters, component: test, type: enhancement

#790 Fix MethodAnalyzerTest
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/MethodAnalyzerTest.java
Labels: component: core, component: test

#774 Report code coverage correctly for Kotlin methods with default arguments
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinDefaultArgumentsTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinDefaultArgumentsTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinDefaultArgumentsFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/SyntheticFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AbstractMatcher.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinDefaultArgumentsFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinGeneratedFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/SyntheticFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: bug :bug:
