Repository jacoco/jacoco, pull requests merged in 2018-08, with the labels that each got.

#669 Update TryWithResourcesJavacFilter for javac 11
  org.jacoco.core.test.validation.java7/src/org/jacoco/core/test/filter/TryWithResourcesTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/TryWithResourcesJavac11FilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/TryWithResourcesJavac11Filter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/TryWithResourcesJavacFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#717 Build with JDK 11 EA in Travis
  .travis.sh
  .travis.yml
Labels: component: build, component: test, type: enhancement

#720 Add module for Kotlin validation tests
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation.kotlin/.classpath
  org.jacoco.core.test.validation.kotlin/.project
  org.jacoco.core.test.validation.kotlin/pom.xml
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinTopLevelFunctionTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinTopLevelFunctionTarget.kt
  org.jacoco.core.test.validation/pom.xml
  org.jacoco.doc/docroot/doc/build.html
Labels: component: build, component: test, type: enhancement

#719 Add experimental support for Java 11 class files
  .travis.sh
  org.jacoco.core.test/src/org/jacoco/core/instr/ClassFileVersionsTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/ContentTypeDetectorTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core/src/org/jacoco/core/internal/ContentTypeDetector.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#722 `assertLine(String, int)` should imply zero number of branches
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/EnumImplicitMethodsTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/FinallyTest.java
  org.jacoco.core.test.validation.java7/src/org/jacoco/core/test/validation/java7/StringSwitchTest.java
  org.jacoco.core.test.validation.java7/src/org/jacoco/core/test/validation/java7/TryWithResourcesTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/ValidationTestBase.java
Labels: component: test, type: enhancement

#725 Upgrade ASM to 6.2.1
  org.jacoco.build/pom.xml
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#726 Add JDK 11 into documentation about build
  org.jacoco.doc/docroot/doc/build.html
  org.jacoco.doc/docroot/doc/environment.html
Labels: component: build, component: documentation, type: enhancement

#709 Add validation tests for Kotlin `lateinit` properties and `data class`es
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinDataClassTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinLateinitTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinDataClassTarget.kt
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinLateinitTarget.kt
Labels: component: test, type: enhancement

#732 Build with JDK 12 EA in Travis
  .travis.sh
  .travis.yml
  org.jacoco.build/pom.xml
  org.jacoco.doc/docroot/doc/build.html
  org.jacoco.doc/docroot/doc/environment.html
Labels: component: build, type: enhancement

#731 Add filter for classes and methods with annotation `Generated`
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/AnnotationGeneratedTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/targets/AnnotationGeneratedTarget.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/AnnotationGeneratedFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/GroovyGeneratedFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/LombokGeneratedFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AbstractAnnotatedMethodFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AnnotationGeneratedFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/GroovyGeneratedFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/LombokGeneratedFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#734 Simplify unit tests of filters
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/AnnotationGeneratedFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/EnumEmptyConstructorFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/EnumFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FilterContextMock.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FilterTestBase.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FinallyFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinGeneratedFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinLateinitFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinWhenSealedFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/PrivateEmptyNoArgConstructorFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/StringSwitchJavacFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/SynchronizedFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/SyntheticFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/TryWithResourcesEcjFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/TryWithResourcesJavac11FilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/TryWithResourcesJavacFilterTest.java
Labels: component: core.filters, component: test, type: enhancement

#738 Add experimental support for Java 12 class files
  .travis.sh
  org.jacoco.core.test/src/org/jacoco/core/instr/ClassFileVersionsTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/ContentTypeDetectorTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core/src/org/jacoco/core/internal/ContentTypeDetector.java
  org.jacoco.doc/docroot/doc/build.html
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#658 Maven goal `report-aggregate` should consider dependencies specified using version range
  jacoco-maven-plugin.test/it/it-report-aggregate/child2v2/pom.xml
  jacoco-maven-plugin.test/it/it-report-aggregate/child2v2/src/main/java/package2/Example2.java
  jacoco-maven-plugin.test/it/it-report-aggregate/child2v2/src/test/java/package2/Example2Test.java
  jacoco-maven-plugin.test/it/it-report-aggregate/pom.xml
  jacoco-maven-plugin.test/it/it-report-aggregate/report/pom.xml
  jacoco-maven-plugin.test/it/it-report-aggregate/verify.bsh
  jacoco-maven-plugin/src/org/jacoco/maven/ReportAggregateMojo.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: maven, type: enhancement

#739 Remove useless `jacoco.fileSets` from documentation of `MergeMojo`
  jacoco-maven-plugin/src/org/jacoco/maven/MergeMojo.java
Labels: component: documentation, component: maven, type: bug

#735 Add filter for bytecode that ECJ generates for String in switch
  org.jacoco.core.test.validation.java7/src/org/jacoco/core/test/validation/java7/StringSwitchTest.java
  org.jacoco.core.test.validation.java7/src/org/jacoco/core/test/validation/java7/targets/StringSwitchTarget.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/MethodAnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FilterTestBase.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FinallyFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/StringSwitchEcjFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/MethodAnalyzer.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/IFilterOutput.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/StringSwitchEcjFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#737 Add filter for Kotlin when-expressions with String
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinWhenExpressionTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinWhenStringFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinWhenStringFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#729 Add filter for Kotlin when-expressions that list all cases of enum
  jacoco/pom.xml
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinWhenExpressionTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FilterTestBase.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinWhenFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinWhenFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#742 Do not use `~/.m2/settings.xml` provided by Travis
  .travis.sh
Labels: component: build, type: enhancement

#743 Add support for Java 11 and 12 class files with "preview features"
  org.jacoco.core.test/src/org/jacoco/core/internal/ContentTypeDetectorTest.java
  org.jacoco.core/src/org/jacoco/core/internal/ContentTypeDetector.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#746 StringSwitchEcjFilter and KotlinWhenStringFilter should use correct VarInsnNode
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinWhenStringFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/StringSwitchEcjFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinWhenStringFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/StringSwitchEcjFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: bug :bug:

#747 All merged instructions should have same covered branches
  org.jacoco.core/src/org/jacoco/core/internal/analysis/MethodAnalyzer.java
Labels: component: core.filters

#749 KotlinWhenFilter should be stateless
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinWhenFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: bug :bug:

#750 Get rid of unnecessary instances of Matcher in KotlinLateinitFilter
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinLateinitFilter.java
Labels: component: core.filters, type: enhancement

#752 Clarify entry in changelog
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: documentation
