Repository jacoco/jacoco, pull requests merged in 2019-09, with the labels that each got.

#934 Remove unnecessary about.html files
  org.jacoco.agent.rt.test/about.html
  org.jacoco.agent.test/about.html
  org.jacoco.ant.test/about.html
  org.jacoco.cli.test/about.html
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/InstrumentTest.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/test-resource.properties
  org.jacoco.core.test/about.html
  org.jacoco.doc/about.html
  org.jacoco.examples.test/about.html
  org.jacoco.examples/about.html
  org.jacoco.report.test/about.html
Labels: component: documentation, type: enhancement

#910 Prevent startup when runtime cannot be initialized
  org.jacoco.agent.rt.test/src/org/jacoco/agent/rt/internal/AgentTest.java
  org.jacoco.agent.rt/src/org/jacoco/agent/rt/internal/Agent.java
  org.jacoco.agent.rt/src/org/jacoco/agent/rt/internal/Offline.java
  org.jacoco.ant.test/src/org/jacoco/ant/InstrumentTaskTest.xml
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#932 Add FAQ entry about class filtering in reports
  jacoco-maven-plugin/src/org/jacoco/maven/AbstractAgentMojo.java
  org.jacoco.doc/docroot/doc/agent.html
  org.jacoco.doc/docroot/doc/ant.html
  org.jacoco.doc/docroot/doc/faq.html
Labels: component: documentation, type: enhancement

#941 Check whether source reference actually is a file
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.report.test/src/org/jacoco/report/DirectorySourceFileLocatorTest.java
  org.jacoco.report/src/org/jacoco/report/DirectorySourceFileLocator.java
Labels: component: report

#942 Fix NPE in KotlinWhenStringFilter
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinWhenStringFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinWhenStringFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: bug :bug:

#944 Fix NPE in StringSwitchEcjFilter
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/StringSwitchEcjFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/StringSwitchEcjFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: bug :bug:

#931 Report invalid coverage ratio configuration
  jacoco-maven-plugin/src/org/jacoco/maven/CheckMojo.java
  org.jacoco.ant.test/src/org/jacoco/ant/ReportTaskTest.xml
  org.jacoco.doc/docroot/doc/ant.html
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.report.test/src/org/jacoco/report/check/LimitTest.java
  org.jacoco.report/src/org/jacoco/report/check/BundleChecker.java
  org.jacoco.report/src/org/jacoco/report/check/Limit.java
Labels: component: report, type: enhancement

#947 Upgrade ASM to 7.2
  org.jacoco.build/licenses/asm-7.2.html
  org.jacoco.build/pom.xml
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core

#949 Use ASMs new Iterable API for better readability
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/FinallyTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/MethodAnalyzer.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinGeneratedFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinInlineFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinLateinitFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinNotNullOperatorFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinUnsafeCastOperatorFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinWhenFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinWhenStringFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/StringSwitchEcjFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/StringSwitchJavacFilter.java
Labels: component: core, type: lifecycle :recycle:
