Repository jacoco/jacoco, pull requests merged in 2019-10, with the labels that each got.

#951 Update documentation about "excludes" option of offline instrumentation
  jacoco-maven-plugin/src/org/jacoco/maven/InstrumentMojo.java
  org.jacoco.doc/docroot/doc/faq.html
Labels: component: documentation, type: enhancement

#952 ContentTypeDetector should recognize future versions of Java class files
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/InstrumenterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/ContentTypeDetectorTest.java
  org.jacoco.core/src/org/jacoco/core/internal/ContentTypeDetector.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core

#956 Check code formatting during build
  .gitattributes
  org.jacoco.build/pom.xml
Labels: component: build, type: enhancement

#960 Fix race condition in Ant test
  org.jacoco.ant.test/src/org/jacoco/ant/DumpTaskWithServerTest.xml
Labels: component: test

#948 Update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/1_question.md
  .github/ISSUE_TEMPLATE/2_bug_report.md
  .github/ISSUE_TEMPLATE/3_feature_request.md
Labels: component: documentation
