Repository jacoco/jacoco, pull requests merged in 2019-01, with the labels that each got.

#818 Show messages in HTML report when class has no debug information
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.report.test/src/org/jacoco/report/internal/html/page/ClassPageTest.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/ClassPage.java
Labels: component: report, type: enhancement

#819 Show message in HTML report when analyzed class does not match executed
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.report.test/src/org/jacoco/report/internal/html/page/ClassPageTest.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/ClassPage.java
Labels: component: report, type: enhancement

#822 Extend filtering by annotation name to ones that simply contain Generated
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/AnnotationGeneratedFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AnnotationGeneratedFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#815 Add filter for Kotlin not-null assertion operator
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinNotNullOperatorTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinNotNullOperatorTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinNotNullOperatorFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinNotNullOperatorFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#824 Fix MethodAnalyzerTest
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/MethodAnalyzerTest.java
Labels: component: core, component: test

#820 Upgrade maven-plugin-plugin and maven-shade-plugin
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation/pom.xml
Labels: component: build

#826 Get rid of warnings about shading ASM "module-info.class"
  org.jacoco.agent.rt/pom.xml
  org.jacoco.ant/pom.xml
  org.jacoco.cli/pom.xml
Labels: component: build, type: enhancement

#821 Require at least Maven 3.0 for jacoco-maven-plugin
  jacoco-maven-plugin.test/it/it-check-fails-halt/pom.xml
  jacoco-maven-plugin.test/it/it-check-fails-no-halt/pom.xml
  jacoco-maven-plugin.test/it/it-check-passes/pom.xml
  jacoco-maven-plugin.test/it/it-dump/pom.xml
  jacoco-maven-plugin.test/it/it-java9/pom.xml
  jacoco-maven-plugin/pom.xml
  jacoco-maven-plugin/src/org/jacoco/maven/CheckMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/MergeMojo.java
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.doc/docroot/doc/maven.html
  org.jacoco.examples/build/pom-it.xml
  org.jacoco.examples/build/pom-offline.xml
  org.jacoco.examples/build/pom.xml
Labels: component: maven

#827 Remove misleading parameters of jacoco-maven-plugin goals
  jacoco-maven-plugin/src/org/jacoco/maven/AbstractAgentMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/AbstractJacocoMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/CheckMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/InstrumentMojo.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: documentation, component: maven, type: bug :bug:

#830 Configure exec-maven-plugin to use selected JDK toolchain
  org.jacoco.cli/pom.xml
Labels: component: build, type: bug :bug:

#832 Improve wording
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: documentation, type: enhancement

#817 Preserve empty class and sourcefile nodes in XML report
  jacoco-maven-plugin/src/org/jacoco/maven/ReportSupport.java
  org.jacoco.ant/src/org/jacoco/ant/ReportTask.java
  org.jacoco.core.test/src/org/jacoco/core/analysis/CoverageBuilderTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/ClassCoverageImplTest.java
  org.jacoco.core/src/org/jacoco/core/analysis/CoverageBuilder.java
  org.jacoco.core/src/org/jacoco/core/analysis/CoverageNodeImpl.java
  org.jacoco.core/src/org/jacoco/core/analysis/ICoverageNode.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/ClassAnalyzer.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/ClassCoverageImpl.java
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.report.test/src/org/jacoco/report/ReportStructureTestDriver.java
  org.jacoco.report.test/src/org/jacoco/report/csv/CSVFormatterTest.java
  org.jacoco.report.test/src/org/jacoco/report/csv/CSVGroupHandlerTest.java
  org.jacoco.report.test/src/org/jacoco/report/html/HTMLFormatterTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/page/BundlePageTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/page/PackagePageTest.java
  org.jacoco.report.test/src/org/jacoco/report/internal/html/page/PackageSourcePageTest.java
  org.jacoco.report.test/src/org/jacoco/report/xml/XMLFormatterTest.java
  org.jacoco.report/src/org/jacoco/report/csv/CSVGroupHandler.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/BundlePage.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/PackagePage.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/PackageSourcePage.java
Labels: component: core, component: report, type: enhancement

#829 Agent can inject class into Java 9+ bootstrap class loader
  jacoco/pom.xml
  org.jacoco.agent.rt/src/org/jacoco/agent/rt/internal/PreMain.java
  org.jacoco.core.test/src/org/jacoco/core/runtime/InjectedClassRuntimeTest.java
  org.jacoco.core/src/org/jacoco/core/runtime/InjectedClassRuntime.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#833 Replace empty table in HTML report by messages
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.report.test/src/org/jacoco/report/internal/html/page/BundlePageTest.java
  org.jacoco.report/src/org/jacoco/report/internal/html/page/BundlePage.java
Labels: component: report, type: enhancement

#835 Add experimental support for Java 13 class files
  org.jacoco.ant.test/src/org/jacoco/ant/RemoveDebugInfos.java
  org.jacoco.cli.test/src/org/jacoco/cli/internal/commands/InstrumentTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/FinallyTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/FramesTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/StructuredLockingTest.java
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/ClassFileVersionsTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/InstrumenterTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/ResizeInstructionsTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/ContentTypeDetectorTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core/src/org/jacoco/core/analysis/Analyzer.java
  org.jacoco.core/src/org/jacoco/core/instr/Instrumenter.java
  org.jacoco.core/src/org/jacoco/core/internal/ContentTypeDetector.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.core/src/org/jacoco/core/runtime/ModifiedSystemClassRuntime.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement
