Repository jacoco/jacoco, pull requests merged in 2019-07, with the labels that each got.

#908 KotlinDefaultArgumentsFilter should not assume that all parameters consume one slot
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinDefaultArgumentsTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinDefaultArgumentsFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinDefaultArgumentsFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: bug :bug:

#906 Update integration matrix
  org.jacoco.doc/docroot/doc/integrations.html
Labels: component: documentation

#911 Add validation test for Kotlin control structures
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinControlStructuresTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinControlStructuresTarget.kt
Labels: component: test

#912 Anonymous functions in Scala should not be filtered out
  org.jacoco.core.test.validation.scala/src/org/jacoco/core/test/validation/scala/ScalaAnonymousFunctionTest.java
  org.jacoco.core.test.validation.scala/src/org/jacoco/core/test/validation/scala/targets/ScalaAnonymousFunctionTarget.scala
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/SyntheticFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/SyntheticFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: bug :bug:

#913 Replace import of JaCoCo "exec" file into SonarQube by import of XML
  org.jacoco.build/pom.xml
Labels: component: build
