Repository jacoco/jacoco, pull requests merged in 2019-08, with the labels that each got.

#922 Add detection of Scala classes
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/ClassAnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FilterContextMock.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/SyntheticFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/ClassAnalyzer.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/IFilterContext.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/SyntheticFilter.java
Labels: component: core.filters

#865 Add validation test for groovy.transform.builder.Builder
  org.jacoco.core.test.validation.groovy/src/org/jacoco/core/test/validation/groovy/GroovyBuilderClassTest.java
  org.jacoco.core.test.validation.groovy/src/org/jacoco/core/test/validation/groovy/targets/GroovyBuilderClassTarget.groovy
Labels: component: test

#927 Add validation test for Scala synchronized block
  org.jacoco.core.test.validation.scala/src/org/jacoco/core/test/validation/scala/ScalaSynchronizedTest.java
  org.jacoco.core.test.validation.scala/src/org/jacoco/core/test/validation/scala/targets/ScalaSynchronizedTarget.scala
Labels: component: test

#926 Fix substitution in `org.jacoco.ant/about.html`
  org.jacoco.agent.rt.test/about.html
  org.jacoco.agent.rt/about.html
  org.jacoco.agent.test/about.html
  org.jacoco.agent/about.html
  org.jacoco.ant.test/about.html
  org.jacoco.ant/about.html
  org.jacoco.build/pom.xml
  org.jacoco.cli.test/about.html
  org.jacoco.cli/about.html
  org.jacoco.core.test/about.html
  org.jacoco.core/about.html
  org.jacoco.core/src/org/jacoco/core/jacoco.properties
  org.jacoco.doc/about.html
  org.jacoco.doc/docroot/doc/agent.html
  org.jacoco.doc/docroot/doc/ant.html
  org.jacoco.doc/docroot/doc/api.html
  org.jacoco.doc/docroot/doc/build.html
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.doc/docroot/doc/classids.html
  org.jacoco.doc/docroot/doc/conventions.html
  org.jacoco.doc/docroot/doc/counters.html
  org.jacoco.doc/docroot/doc/empty.html
  org.jacoco.doc/docroot/doc/environment.html
  org.jacoco.doc/docroot/doc/epl-v10.html
  org.jacoco.doc/docroot/doc/faq.html
  org.jacoco.doc/docroot/doc/flow.html
  org.jacoco.doc/docroot/doc/implementation.html
  org.jacoco.doc/docroot/doc/index.html
  org.jacoco.doc/docroot/doc/integrations.html
  org.jacoco.doc/docroot/doc/license.html
  org.jacoco.doc/docroot/doc/maven.html
  org.jacoco.doc/docroot/doc/mission.html
  org.jacoco.doc/docroot/doc/offline.html
  org.jacoco.doc/docroot/doc/repo.html
  org.jacoco.doc/docroot/doc/support.html
  org.jacoco.doc/docroot/doc/team.html
  org.jacoco.doc/docroot/index.html
  org.jacoco.examples.test/about.html
  org.jacoco.examples/about.html
  org.jacoco.report.test/about.html
  org.jacoco.report/about.html
Labels: component: build
