Repository jacoco/jacoco, pull requests merged in 2020-02, with the labels that each got.

#1010 Add filter for bridge methods
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinDelegatesTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinDelegatesTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/BridgeFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/BridgeFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#1013 Documentation should advise usage of "mvn verify" instead of "mvn install"
  org.jacoco.doc/docroot/doc/build.html
Labels: component: documentation

#1012 Add filter for Kotlin default methods
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinDefaultMethodsTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinDefaultMethodsTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinDefaultMethodsFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinDefaultMethodsFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#1016 Update filter for suspending functions with tail call optimization
  org.jacoco.core.test.validation.kotlin/pom.xml
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinCoroutineTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#1020 Fix NPE
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/AbstractMatcherTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AbstractMatcher.java
Labels: component: core.filters, type: bug :bug:
