Repository jacoco/jacoco, pull requests merged in 2021-06, with the labels that each got.

#1196 Add filter for Java assert statement
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/AssertTest.java
  org.jacoco.core.test.validation.java5/src/org/jacoco/core/test/validation/java5/targets/AssertTarget.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/AbstractMatcherTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/AssertFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/ValidationTestBase.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AbstractMatcher.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/AssertFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, type: enhancement

#1198 Add experimental support for Java 18 class files
  .azure-pipelines/azure-pipelines.yml
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation/pom.xml
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/InstrumenterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, type: enhancement

#1205 Use `provided` scope for `maven-core` and `maven-plugin-api` dependencies
  jacoco-maven-plugin/pom.xml
Labels: component: maven, type: enhancement

#1206 Upgrade ASM to 9.2
  org.jacoco.build/licenses/asm-9.2.html
  org.jacoco.build/pom.xml
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core, dependencies
