Repository jacoco/jacoco, pull requests merged in 2021-05, with the labels that each got.

#1175 Add maven parameter to control which reports to generate
  jacoco-maven-plugin.test/it/it-report-select-formats/pom.xml
  jacoco-maven-plugin.test/it/it-report-select-formats/src/main/java/Example.java
  jacoco-maven-plugin.test/it/it-report-select-formats/src/test/java/ExampleTest.java
  jacoco-maven-plugin.test/it/it-report-select-formats/verify.bsh
  jacoco-maven-plugin/src/org/jacoco/maven/AbstractReportMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/ReportAggregateMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/ReportFormat.java
  jacoco-maven-plugin/src/org/jacoco/maven/ReportITMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/ReportMojo.java
  jacoco-maven-plugin/src/org/jacoco/maven/ReportSupport.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: maven, type: enhancement

#1180 Update KotlinControlStructuresTarget for Kotlin 1.5
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinControlStructuresTarget.kt
Labels: component: test, type: enhancement

#1181 Upgrade Kotlin to 1.5.0
  org.jacoco.core.test.validation.kotlin/pom.xml
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinDefaultMethodsTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinControlStructuresTarget.kt
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinDataClassTarget.kt
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinWhenExpressionTarget.kt
  org.jacoco.core.test.validation/pom.xml
  org.jacoco.doc/docroot/doc/build.html
Labels: component: test, type: enhancement

#1183 Upgrade Groovy to 3.0.8 and gmavenplus-plugin to 1.12.1
  org.jacoco.core.test.validation.groovy/pom.xml
  org.jacoco.core.test.validation/pom.xml
Labels: component: test

#1184 Fix typo in changelog
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: documentation

#1192 Fix inconsistent formatting in documentation
  org.jacoco.doc/docroot/doc/classids.html
Labels: component: documentation, type: enhancement

#1194 Add org.jacoco.core.test.validation.java16 to profile java17-bytecode
  org.jacoco.core.test.validation/pom.xml
Labels: component: test
