Repository jacoco/jacoco, pull requests merged in 2022-06, with the labels that each got.

#1335 Add experimental support for Java 20 class files
  .azure-pipelines/azure-pipelines.yml
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation/pom.xml
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/InstrumenterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: core

#1007 Add parameter to include the current project in the aggregated report
  jacoco-maven-plugin.test/it/it-report-aggregate-customization/report/pom.xml
  jacoco-maven-plugin.test/it/it-report-aggregate-customization/verify.bsh
  jacoco-maven-plugin/src/org/jacoco/maven/ReportAggregateMojo.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: maven

#1341 Upgrade maven-surefire-plugin to 2.19.1
  org.jacoco.build/pom.xml
Labels: type: enhancement, component: build
