Repository jacoco/jacoco, pull requests merged in 2023-06, with the labels that each got.

#1473 Add filter for Record patterns
  org.jacoco.core.test.validation.java20/src/org/jacoco/core/test/validation/java20/RecordPatternsTest.java
  org.jacoco.core.test.validation.java20/src/org/jacoco/core/test/validation/java20/targets/RecordPatternsTarget.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/RecordPatternFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/RecordPatternFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: core.filters, language: Java

#1474 Fixup change log categories
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: documentation

#1479 Add experimental support for Java 22 class files
  .azure-pipelines/azure-pipelines.yml
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation/pom.xml
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/InstrumenterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: core

#1478 Move validation tests from Java 20 preview to Java 21
  org.jacoco.core.test.validation.java21/.classpath
  org.jacoco.core.test.validation.java21/.project
  org.jacoco.core.test.validation.java21/.settings/org.eclipse.jdt.core.prefs
  org.jacoco.core.test.validation.java21/pom.xml
  org.jacoco.core.test.validation.java21/src/org/jacoco/core/test/validation/java21/RecordPatternsTest.java
  org.jacoco.core.test.validation.java21/src/org/jacoco/core/test/validation/java21/SwitchPatternMatchingTest.java
  org.jacoco.core.test.validation.java21/src/org/jacoco/core/test/validation/java21/targets/RecordPatternsTarget.java
  org.jacoco.core.test.validation.java21/src/org/jacoco/core/test/validation/java21/targets/SwitchPatternMatchingTarget.java
  org.jacoco.core.test.validation/pom.xml
Labels: component: test

#1476 Add test to catch cases when compilers generate wrong line numbers
  org.jacoco.core.test/src/org/jacoco/core/test/validation/ValidationTestBase.java
Labels: component: test

#1472 Add filter for exhaustive switch expression
  jacoco/pom.xml
  org.jacoco.core.test.validation.java14/src/org/jacoco/core/test/validation/java14/SwitchExpressionsTest.java
  org.jacoco.core.test.validation.java14/src/org/jacoco/core/test/validation/java14/targets/SwitchExpressionsTarget.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/ExhaustiveSwitchFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/ExhaustiveSwitchFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: core.filters, language: Java

#1463 Upgrade maven-shade-plugin to 3.5.0
  org.jacoco.build/pom.xml
Labels: component: build

#1483 Remove unused parts of configuration for AppVeyor
  .appveyor.yml
Labels: component: build

#1489 Upgrade xml-maven-plugin to 1.1.0
  org.jacoco.build/pom.xml
Labels: component: build
