Repository jacoco/jacoco, pull requests merged in 2023-11, with the labels that each got.

#1532 Fix misleading outdated javadoc
  org.jacoco.ant.test/src/org/jacoco/ant/TestTarget.java
Labels: component: documentation, component: test

#1526 Adds common use cases of questions/problems to README
  README.md
Labels: type: enhancement, component: documentation

#1538 Upgrade ECJ to 3.35.0
  org.jacoco.build/pom.xml
Labels: component: test

#1539 Upgrade spotless-maven-plugin to 2.40.0 and Eclipse JDT Formatter to 4.29
  org.jacoco.build/pom.xml
Labels: component: build

#1536 Use spotless-maven-plugin to maintain the order of import statements
  org.jacoco.build/pom.xml
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/ExhaustiveSwitchFilterTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/InstrumentingLoaderTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/JavaVersionTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/ExhaustiveSwitchFilter.java
Labels: component: build
