Repository jacoco/jacoco, pull requests merged in 2023-02, with the labels that each got.

#1393 RecordsFilter should filter out accessors
  org.jacoco.core.test.validation.java16/src/org/jacoco/core/test/validation/java16/targets/RecordsTarget.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/RecordsFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/RecordsFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: core.filters

#1398 Support targeting JDK 5 when using JDK >= 9 for Maven
  jacoco-maven-plugin.test/it/setup-parent/pom.xml
  jacoco-maven-plugin.test/pom.xml
  org.jacoco.examples.test/pom.xml
Labels: component: build

#1399 Use Ubuntu 20.04 in AzurePipelines
  .azure-pipelines/azure-pipelines.yml
Labels: component: build

#1191 Add validation test for JEP 433: Pattern Matching for switch
  org.jacoco.core.test.validation.java20/.classpath
  org.jacoco.core.test.validation.java20/.project
  org.jacoco.core.test.validation.java20/pom.xml
  org.jacoco.core.test.validation.java20/src/org/jacoco/core/test/validation/java20/SwitchPatternMatchingTest.java
  org.jacoco.core.test.validation.java20/src/org/jacoco/core/test/validation/java20/targets/SwitchPatternMatchingTarget.java
  org.jacoco.core.test.validation/pom.xml
Labels: component: test

#1403 Update plexus-utils to 3.0.24
  jacoco-maven-plugin/pom.xml
Labels: component: maven

#1404 Upgrade ECJ from 3.12.1 to 3.32.0
  .azure-pipelines/azure-pipelines.yml
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation.java14/src/org/jacoco/core/test/validation/java14/SwitchExpressionsTest.java
  org.jacoco.core.test.validation.java14/src/org/jacoco/core/test/validation/java14/targets/SwitchExpressionsTarget.java
  org.jacoco.core.test.validation.java16/src/org/jacoco/core/test/validation/java16/InstanceofTest.java
  org.jacoco.core.test.validation.java16/src/org/jacoco/core/test/validation/java16/targets/InstanceofTarget.java
  org.jacoco.doc/docroot/doc/build.html
Labels: component: test
