Repository jacoco/jacoco, pull requests merged in 2024-07, with the labels that each got.

#1633 Specify the version and location of sonar-maven-plugin
  org.jacoco.build/pom.xml
Labels: component: build

#1647 Fix typo
  org.jacoco.core/src/org/jacoco/core/analysis/ISourceNode.java
Labels: component: documentation

#1648 `mvn -Decj=false` should not activate the use of ECJ
  org.jacoco.build/pom.xml
Labels: component: build

#1283 Update KotlinCoroutineFilter for Kotlin 1.6
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinCoroutineTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: core.filters, language: Kotlin

#1649 Add builds with ECJ to GitHub Actions
  .github/workflows/ci.yml
Labels: component: build

#1658 Add missing `Test` annotation to method in `FileOutputTest`
  org.jacoco.agent.rt.test/src/org/jacoco/agent/rt/internal/output/FileOutputTest.java
Labels: component: test

#1659 Fix typo: replace two consecutive dots in javadoc by one
  org.jacoco.report/src/org/jacoco/report/internal/html/page/PackageSourcePage.java
Labels: component: documentation

#1525 Fix interpretation of Kotlin SMAP
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinCrossinlineTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinCrossinlineTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinInlineFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinInlineFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: bug :bug:, component: core.filters, language: Kotlin

#1661 Fix javadoc
  org.jacoco.report/src/org/jacoco/report/internal/ReportOutputFolder.java
Labels: component: documentation
