Repository jacoco/jacoco, pull requests merged in 2024-12, with the labels that each got.

#1794 Add unit test for InterfaceFieldProbeArrayStrategy
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InterfaceFieldProbeArrayStrategyTest.java
Labels: component: test

#1807 Add experimental support for Java 25
  .azure-pipelines/azure-pipelines.yml
  org.jacoco.build/pom.xml
  org.jacoco.core.test.validation/pom.xml
  org.jacoco.core.test/src/org/jacoco/core/analysis/AnalyzerTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/ClassFileVersionsTest.java
  org.jacoco.core.test/src/org/jacoco/core/instr/InstrumenterTest.java
  org.jacoco.core.test/src/org/jacoco/core/internal/instr/InstrSupportTest.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/ValidationTestBase.java
  org.jacoco.core/src/org/jacoco/core/internal/instr/InstrSupport.java
  org.jacoco.doc/docroot/doc/changes.html
  org.jacoco.doc/docroot/doc/faq.html
Labels: component: core

#1703 Add validation test for `synchronized` block in Kotlin
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinSynchronizedTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinSynchronizedTarget.kt
Labels: component: test, language: Kotlin

#1671 Add validation test for exception based control flow in Kotlin
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinExceptionsTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinExceptionsTarget.kt
Labels: component: test, language: Kotlin

#1812 Add validation test for chain of elvis operators in Kotlin
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinElvisOperatorTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinElvisOperatorTarget.kt
Labels: component: test, language: Kotlin

#1810 Add filter for Kotlin safe call operators chains
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinSafeCallOperatorTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinSafeCallOperatorTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/FilterTestBase.java
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinSafeCallOperatorFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinSafeCallOperatorFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: type: enhancement, component: core.filters, language: Kotlin

#1698 Add validation test for `Serializable` lambda in Java
  org.jacoco.core.test.validation.java8/src/org/jacoco/core/test/validation/java8/LambdaSerializableTest.java
  org.jacoco.core.test.validation.java8/src/org/jacoco/core/test/validation/java8/targets/LambdaSerializableTarget.java
  org.jacoco.core.test/src/org/jacoco/core/test/validation/targets/Stubs.java
Labels: component: test, language: Java

#1699 Add validation test for `Serializable` lambda in Kotlin
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinLambdaSerializableTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinLambdaSerializableTarget.kt
Labels: component: test, language: Kotlin

#1822 Get rid of cycle Filters.allKotlinFilters → SyntheticFilter → Filters.isKotlinClass
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/FilterSet.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinSyntheticAccessorsFilter.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/SyntheticFilter.java
Labels: component: core.filters

#1769 StringSwitchFilter should handle Kotlin nullable String
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinWhenStringTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/StringSwitchFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/StringSwitchFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, language: Kotlin

#1826 Use `Integer.valueOf` instead of deprecated constructor
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/CounterImplTest.java
Labels: component: test
