Repository jacoco/jacoco, pull requests merged in 2025-10, with the labels that each got.

#1965 Update to ASM 9.9
  org.jacoco.build/licenses/asm-9.9.html
  org.jacoco.build/pom.xml
  org.jacoco.doc/docroot/doc/changes.html
Labels: dependencies

#1885 Add filter for bytecode generated by Kotlin serialization compiler plugin
  org.jacoco.core.test.validation.kotlin/pom.xml
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinSerializableTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinSerializableTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinSerializableFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/Filters.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinSerializableFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, language: Kotlin

#1968 Migrate release staging to the Central Publisher Portal
  org.jacoco.build/pom.xml
Labels: component: build
