Repository jacoco/jacoco, pull requests merged in 2025-09, with the labels that each got.

#1947 Bump org.apache.maven.shared:file-management from 3.1.0 to 3.2.0
  jacoco-maven-plugin/pom.xml
Labels: component: maven, dependencies

#1945 KotlinCoroutineFilter should filter Kotlin 2.2 suspending lambdas with parameters
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinCoroutineSuspendingLambdaTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinCoroutineSuspendingLambdaTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, language: Kotlin

#1871 KotlinCoroutineFilter should filter suspension points that return inline value classes
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/KotlinCoroutineInlineValueClassTest.java
  org.jacoco.core.test.validation.kotlin/src/org/jacoco/core/test/validation/kotlin/targets/KotlinCoroutineInlineValueClassTarget.kt
  org.jacoco.core.test/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilterTest.java
  org.jacoco.core/src/org/jacoco/core/internal/analysis/filter/KotlinCoroutineFilter.java
  org.jacoco.doc/docroot/doc/changes.html
Labels: component: core.filters, language: Kotlin

#1955 Upgrade Maven Wrapper to 3.3.4
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: component: build

#1957 Upgrade scala-maven-plugin to 4.5.6
  org.jacoco.core.test.validation.scala/pom.xml
Labels: component: build, component: test
